In [1]:
 #Funtion

In [2]:
def my_func(param):
    print(param)

In [3]:
my_func('Tamer')

Tamer

In [4]:
def my_func(param='default'):
    print(param)

In [5]:
my_func('Tamer')

Tamer

In [6]:
my_func()

default

In [7]:
def my_funcx(param='default'):
    print(param)

In [8]:
my_func('rana')

rana

In [11]:
def my_func(param='default'):
    '''
    # Docstring goes here
    '''
    print(param)

In [12]:
my_func()

default

In [13]:
def my_func(argument):
    '''
    # Docstring goes here
    '''
    return argument*5

In [14]:
my_func(5)

25

In [15]:
x=my_func(5)

In [16]:
x

25

In [17]:
print(x)

25

In [18]:
#Lambda Expression

In [19]:
def times_two(var):
    return var*2

In [20]:
result = times_two(4)

In [21]:
result

8

In [22]:
lambda var: var*2

In [23]:
seq=[1,2,3,4,5]

In [24]:
list(map(times_two, seq))

[2, 4, 6, 8, 10]

In [25]:
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [26]:
list(map(lambda num: num*2, seq))

[2, 4, 6, 8, 10]

In [27]:
#Filter

In [28]:
def is_even(num):
    return num%2==0

In [30]:
list(filter(is_even,seq))

[2, 4]

In [31]:
lambda num: num%2==0

In [33]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

In [34]:
# Methods

In [35]:
st = 'Hello my name is Sam'

In [36]:
st.lower()

'hello my name is sam'

In [37]:
st.upper()

'HELLO MY NAME IS SAM'

In [38]:
tweet ="Go Sports! #Cool"

In [39]:
tweet.split()

['Go', 'Sports!', '#Cool']

In [42]:
tweet.split('#')[1]

'Cool'

In [43]:
import math

In [44]:
d={'key':10,'key2':'seconditem'}

In [45]:
d.keys()

dict_keys(['key', 'key2'])

In [46]:
d.items()

dict_items([('key', 10), ('key2', 'seconditem')])

In [47]:
my_list=[1,2,3,4]

In [48]:
my_list

[1, 2, 3, 4]

In [49]:
my_list.reverse

In [50]:
my_list.append(5)

In [51]:
my_list

[1, 2, 3, 4, 5]

In [52]:
my_list.pop()

5

In [53]:
my_list.pop(0)

1

In [54]:
my_list

[2, 3, 4]

In [55]:
1 in my_list

False

In [56]:
3 in my_ist

NameError: name 'my_ist' is not defined

In [57]:
3 in my_list

True

In [58]:
x in [1,2,3,x]

True