In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns  
import matplotlib.pyplot as plt

# might be needed depending on your version of Jupyter
%matplotlib inline

In [3]:
df = pd.read_csv('../Oil & Gas Production/Pandey_Ch07_Production_Engineering_Code/data/Well_Monthly_ProdT.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  528 non-null    object
 1   OIL         528 non-null    int64
dtypes: int64(1), object(1)
memory usage: 8.4+ KB

In [5]:
df.isnull().sum()

START_DATE    0
OIL           0
dtype: int64

In [6]:
df.head()

   START_DATE       OIL
0  1974-01-01   7134368
1  1974-01-02   9528303
2  1974-01-03  12263786
3  1974-01-04  13153821
4  1974-01-05  12240857

In [7]:
df

     START_DATE       OIL
0    1974-01-01   7134368
1    1974-01-02   9528303
2    1974-01-03  12263786
3    1974-01-04  13153821
4    1974-01-05  12240857
..          ...       ...
523  2017-01-08   8450763
524  2017-01-09   8168717
525  2017-01-10   8668929
526  2017-01-11   8452498
527  2017-01-12   8607196

[528 rows x 2 columns]

In [8]:
df.corr()['OIL'].sort_values()

OIL    1.0
Name: OIL, dtype: float64

In [9]:
#df.corr()['GAS'].sort_values()

In [10]:
#df.corr()['WATER'].sort_values()

In [11]:
df.corr()

     OIL
OIL  1.0

In [12]:
from datetime import datetime
import statsmodels.api as sm

In [15]:
df['YEAR'] = df['START_DATE'].apply(lambda START_DATE:int(START_DATE[:-6]))

In [16]:
df = df.drop('START_DATE',axis=1)

In [17]:
df

          OIL  YEAR
0     7134368  1974
1     9528303  1974
2    12263786  1974
3    13153821  1974
4    12240857  1974
..        ...   ...
523   8450763  2017
524   8168717  2017
525   8668929  2017
526   8452498  2017
527   8607196  2017

[528 rows x 2 columns]

In [18]:
X=df[['OIL']]
Y=df['YEAR']

In [19]:
from scipy import stats
import statsmodels.api as sm

In [20]:
X1=sm.add_constant(X)
reg=sm.OLS(Y,X1).fit()

In [21]:
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   YEAR   R-squared:                       0.060
Model:                            OLS   Adj. R-squared:                  0.058
Method:                 Least Squares   F-statistic:                     33.65
Date:                Mon, 24 May 2021   Prob (F-statistic):           1.14e-08
Time:                        02:43:23   Log-Likelihood:                -2074.7
No. Observations:                 528   AIC:                             4153.
Df Residuals:                     526   BIC:                             4162.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2009.0631      2.399    837.430      0.000    2004.350    2013.776
OIL        -1.686e-06   2.91e-07     -5.801      0.000   -2.26e-06   -1.11e-06
==============================================================================
Omnibus:                      293.069   Durbin-Watson:                   0.021
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               34.946
Skew:                           0.226   Prob(JB):                     2.58e-08
Kurtosis:                       1.823   Cond. No.                     3.69e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.69e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""