In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas_datareader import data as wb
from scipy.stats import norm

/Users/tamerhousseinhag/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
# S: stock price
# K: strike price
# r: risk-free rate
# stdev: standard deviation
# T: time horizon (years)

# d1: If option is exercised; how much can we expect
# d2: The amount we must pay; when exercising the option

In [3]:
def d1(S,K,r,stdev,T):
    return ((np.log(S/K))+((r+pow(stdev,2)/2)*T))/(stdev*(np.sqrt(T)))

def d2(S,K,r,stdev,T):
    return ((np.log(S/K))+((r-pow(stdev,2)/2)*T))/(stdev*(np.sqrt(T)))

In [4]:
norm.cdf(0) #Cumulative Distribution Function (cdf)

0.5

In [5]:
norm.cdf(0.25)

0.5987063256829237

In [6]:
norm.cdf(0.5)

0.6914624612740131

In [7]:
norm.cdf(0.75)

0.7733726476231317

In [8]:
norm.cdf(1.0)

0.8413447460685429

In [9]:
norm.cdf(9.0)

1.0

In [10]:
# BSM=(S*norm(d1))-(K*(e^-rt)*norm(d2))

In [11]:
def BSM(S,K,r,stdev,T):
    return (S*norm.cdf(d1(S,K,r,stdev,T)))-(K*np.exp(-r*T)*norm.cdf(d2(S,K,r,stdev,T)))

In [12]:
ticker='TSLA'
data=pd.DataFrame()
data[ticker]=wb.DataReader(ticker,data_source='yahoo',start='2010-01-01')['Adj Close']

In [13]:
S=data.iloc[-1]
S

TSLA    803.330017
Name: 2020-05-14 00:00:00, dtype: float64

In [14]:
log_returns=np.log(1+data.pct_change())
log_returns

                TSLA
Date
2010-06-29       NaN
2010-06-30 -0.002515
2010-07-01 -0.081723
2010-07-02 -0.134312
2010-07-06 -0.175470
...              ...
2020-05-08  0.049252
2020-05-11 -0.009971
2020-05-12 -0.002320
2020-05-13 -0.023058
2020-05-14  0.015518

[2487 rows x 1 columns]

In [15]:
stdev=np.sqrt(log_returns.std()*250)
stdev

TSLA    2.930373
dtype: float64

In [16]:
r=0.025
K=110
T=1

In [17]:
d1(S,K,r,stdev,T)

TSLA    2.152227
dtype: float64

In [18]:
d2(S,K,r,stdev,T)

TSLA   -0.778146
dtype: float64

In [19]:
# Call Option Price (COP)

In [20]:
BSM(S,K,r,stdev,T)

TSLA    767.312132
Name: 2020-05-14 00:00:00, dtype: float64