In [1]:
# Variance & Standard Deviation

In [2]:
import numpy as np
import pandas as pd

#from pandas_datareader import data, wb
#pdr.get_data_yahoo('AAPL')

import pandas_datareader as pdr 
import matplotlib.pyplot as plt

/Users/tamerhousseinhag/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
tickers=['PG','BEI.DE']
sec_data=pd.DataFrame()

for t in tickers:
    sec_data[t]=pdr.DataReader(t,data_source='yahoo',start='2007-01-01')['Adj Close']

In [4]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-05-05  116.010002  89.279999
2020-05-06  113.099998  91.000000
2020-05-07  112.169998  92.239998
2020-05-08  115.949997  94.279999
2020-05-11  115.309998  94.680000

In [5]:
sec_returns=np.log(sec_data/sec_data.shift(1))

In [6]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-05-05  0.002071 -0.028924
2020-05-06 -0.025404  0.019082
2020-05-07 -0.008257  0.013534
2020-05-08  0.033143  0.021875
2020-05-11 -0.005535  0.004234

[3362 rows x 2 columns]

In [7]:
# PG

sec_returns['PG'].mean()

0.0002924725133766195

In [8]:
sec_returns['PG'].mean()*250

0.07311812834415488

In [9]:
sec_returns['PG'].std()

0.011958440162346711

In [10]:
sec_returns['PG'].std()*250

2.989610040586678

In [11]:
np.sqrt(sec_returns['PG'].std()*250)

1.7290488832264628

In [12]:
# BEI.DE

sec_returns['BEI.DE'].mean()

0.0002479240365699525

In [13]:
sec_returns['BEI.DE'].mean()*250

0.06198100914248812

In [14]:
sec_returns['BEI.DE'].std()

0.013773597716189889

In [15]:
sec_returns['BEI.DE'].std()*250

3.443399429047472

In [16]:
np.sqrt(sec_returns['BEI.DE'].std()*250)

1.8556398974605692

In [17]:
# Covariance and Correlation

In [18]:
PG_var=sec_returns['PG'].var()
PG_var

0.00014300429111642685

In [19]:
PG_var_an=(sec_returns['PG'].var())*250
PG_var_an

0.03575107277910671

In [20]:
BEI_var=sec_returns['BEI.DE'].var()
BEI_var

0.00018971199404743132

In [21]:
BEI_var_an=(sec_returns['BEI.DE'].var())*250
BEI_var_an

0.04742799851185783

In [22]:
cov_matrix=sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000143  0.000045
BEI.DE  0.000045  0.000190

In [27]:
cov_matrix_an=(sec_returns.cov())*250
cov_matrix_an

              PG    BEI.DE
PG      0.035751  0.011236
BEI.DE  0.011236  0.047428

In [24]:
corr_matrix=sec_returns.corr()
corr_matrix

            PG  BEI.DE
PG      1.0000  0.2725
BEI.DE  0.2725  1.0000

In [25]:
# Calculating Portfolio Risk

In [26]:
weights=np.array([0.5,0.5])

In [28]:
# Portfolio Variance

portfolio_var=np.dot(weights.T,np.dot(cov_matrix_an,weights))
portfolio_var

0.026412904571052227

In [29]:
# Portfolio Volatility

portfolio_volat=np.sqrt(np.dot(weights.T,np.dot(cov_matrix_an,weights)))
portfolio_volat

0.16252047431339914

In [30]:
print(format(portfolio_volat,'.2%'))

16.25%

In [31]:
# Diversifiable & Non-diversifiable Risk of a Portfolio

In [32]:
weights_2=np.array([0.5,0.5])

In [33]:
weights_2[0]

0.5

In [34]:
weights_2[1]

0.5

In [35]:
# Diversifiable

In [36]:
PG_var_an=(sec_returns['PG'].var())*250
PG_var_an

0.03575107277910671

In [37]:
BEI_var_an=(sec_returns['BEI.DE'].var())*250
BEI_var_an

0.04742799851185783

In [39]:
divers=(portfolio_var)-((pow(weights[0],2))*PG_var_an)-((pow(weights[1],2))*BEI_var_an)
divers

0.0056181367483110894

In [40]:
print(format(divers,'.2%'))

0.56%

In [41]:
# Non-Diversifiable

In [42]:
n_divers=portfolio_var-divers
n_divers

0.020794767822741138

In [44]:
print(format(n_divers,'.2%'))

2.08%

In [43]:
# Alternative

n_divers_alt=((pow(weights[0],2))*PG_var_an)+((pow(weights[1],2))*BEI_var_an)
n_divers_alt

0.020794767822741138