In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns  
import matplotlib.pyplot as plt

# might be needed depending on your version of Jupyter
%matplotlib inline

In [3]:
df = pd.read_csv('../Production/Pandey_Ch07_Production_Engineering_Code/data/Well_Monthly_ProdN2.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79392 entries, 0 to 79391
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UWI         79392 non-null  object
 1   START_DATE  79392 non-null  object
 2   OIL         79392 non-null  int64
 3   GAS         79392 non-null  int64
 4   WATER       79392 non-null  int64
dtypes: int64(3), object(2)
memory usage: 3.0+ MB

In [5]:
df.isnull().sum()

UWI           0
START_DATE    0
OIL           0
GAS           0
WATER         0
dtype: int64

In [6]:
df.head()

     UWI  START_DATE     OIL     GAS  WATER
0  BR819  1965-05-01    1785       0      0
1  AB257  1973-11-01   26550   22470      0
2  TR758  1973-11-01  122600  112100      0
3  ON369  1973-11-01   65134   36450      0
4  DS652  1973-11-01   61277   60180      0

In [7]:
df

         UWI  START_DATE     OIL     GAS  WATER
0      BR819  1965-05-01    1785       0      0
1      AB257  1973-11-01   26550   22470      0
2      TR758  1973-11-01  122600  112100      0
3      ON369  1973-11-01   65134   36450      0
4      DS652  1973-11-01   61277   60180      0
...      ...         ...     ...     ...    ...
79387  RK103  2018-06-01   39467   44068      0
79388  TR855  2018-06-01   38581   44513  31049
79389  BR477  2018-06-01    5740    4052    434
79390  RK301  2018-06-01       0       0      0
79391  CC479  2018-06-01       0       0      0

[79392 rows x 5 columns]

In [8]:
df.corr()['OIL'].sort_values()

WATER   -0.077144
GAS      0.959902
OIL      1.000000
Name: OIL, dtype: float64

In [9]:
df.corr()['GAS'].sort_values()

WATER   -0.049226
OIL      0.959902
GAS      1.000000
Name: GAS, dtype: float64

In [10]:
df.corr()['WATER'].sort_values()

OIL     -0.077144
GAS     -0.049226
WATER    1.000000
Name: WATER, dtype: float64

In [11]:
df.corr()

            OIL       GAS     WATER
OIL    1.000000  0.959902 -0.077144
GAS    0.959902  1.000000 -0.049226
WATER -0.077144 -0.049226  1.000000

In [12]:
from datetime import datetime
import statsmodels.api as sm

In [13]:
df['YEAR'] = df['START_DATE'].apply(lambda START_DATE:int(START_DATE[:-6]))

In [14]:
df = df.drop('START_DATE',axis=1)

In [15]:
df

         UWI     OIL     GAS  WATER  YEAR
0      BR819    1785       0      0  1965
1      AB257   26550   22470      0  1973
2      TR758  122600  112100      0  1973
3      ON369   65134   36450      0  1973
4      DS652   61277   60180      0  1973
...      ...     ...     ...    ...   ...
79387  RK103   39467   44068      0  2018
79388  TR855   38581   44513  31049  2018
79389  BR477    5740    4052    434  2018
79390  RK301       0       0      0  2018
79391  CC479       0       0      0  2018

[79392 rows x 5 columns]

In [16]:
X=df[['OIL','GAS']]
Y=df['YEAR']

In [17]:
from scipy import stats
import statsmodels.api as sm

In [18]:
X1=sm.add_constant(X)
reg=sm.OLS(Y,X1).fit()

In [19]:
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   YEAR   R-squared:                       0.215
Model:                            OLS   Adj. R-squared:                  0.215
Method:                 Least Squares   F-statistic:                 1.088e+04
Date:                Sun, 03 Jan 2021   Prob (F-statistic):               0.00
Time:                        19:41:13   Log-Likelihood:            -2.9450e+05
No. Observations:               79392   AIC:                         5.890e+05
Df Residuals:                   79389   BIC:                         5.890e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2006.0149      0.043   4.63e+04      0.000    2005.930    2006.100
OIL        -8.226e-05   1.64e-06    -50.007      0.000   -8.55e-05    -7.9e-05
GAS         1.758e-05   1.93e-06      9.102      0.000    1.38e-05    2.14e-05
==============================================================================
Omnibus:                    10178.747   Durbin-Watson:                   0.223
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4370.072
Skew:                          -0.390   Prob(JB):                         0.00
Kurtosis:                       2.157   Cond. No.                     1.49e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.49e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""